
@* View hiển thị exeption middleware *@
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <span class="text-danger fs-1">  Lỗi @Model</span>
        </div>
    </div>
</div>