@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@* View hiển thị exeption của các action controller (exeption filter) *@

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6">
            <p class="text-danger">Có lỗi xảy ra , vui lòng liên hệ admin.</p>
            <p>@Model.RequestId</p>
            <p>@Model.ErrMessage</p>
        </div>
    </div>
</div>

